@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-neutral-200 text-neutral-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

::selection {
  @apply bg-blue-500 text-white;
}

[data-vaul-drawer][data-vaul-drawer-direction="bottom"]::after {
  height: 0 !important;
}
